/* body {
  background-image: url('./images/filipe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */
html {
  scroll-behavior: smooth;
}

.main-header {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/filipe.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-header {
  filter: brightness(50%);
}

.rest-text {
  color: #6ff037;
  height: 50vh;
}

.card {
}

/* Center brand logo */
.navbar-brand {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  background-image: url('logo.png');
}

.form-p {
  font-size: 1.2em;
}

.card-img-top {
  height: 65px;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
