/* body {
  background-image: url('./images/skatepark2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

.map-style {
  border-radius: 5px;
  border: none;
  height: 280px;
  width: 515px;
}

#about {
  color: white;
  background-color: #6ff037;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 20px 0px 20px 0px;
}

#pro-teams,
#skate-map {
  background-color: white;
  color: black;
}

.park-div {
  height: 500px;
  background-image: url('./images/bord.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 115px;
}

.white {
  color: white;
}

.main-header {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/filipe.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-header {
  filter: brightness(50%);
}

.form-btn {
  margin-top: 10px;
}

.skate-form {
  padding-top: 20px;
}

.nav-link:hover {
  background-color: #6ff037;
  border-radius: 5px;
  filter: brightness(50%);
  padding: 10px;
  transition: 300ms ease-in;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Center brand logo */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  background-image: url('logo.png');
}

.card-img-top {
  height: 65px;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/* Cards */
.card-title,
.card-text {
  color: black;
}
.card {
  border: none;
}
.card-img {
  border-radius: 0;
}
.learn-cards .card {
  display: flex;
  flex-flow: wrap;
  flex: 100%;
  margin-bottom: 40px;
}
.learn-cards .card:nth-child(even) .card-img-body {
  order: 2;
}
.learn-cards .card:nth-child(even) .card-body {
  padding-left: 0;
  padding-right: 1.25rem;
}
@media (max-width: 576px) {
  .learn-cards .card {
    display: block;
  }
}
.learn-cards .card-img-body {
  flex: 1;
  overflow: hidden;
  position: relative;
}
@media (max-width: 576px) {
  .learn-cards .card-img-body {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}
.learn-cards .card-img {
  width: 100%;
  height: auto;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1140px) {
  .learn-cards .card-img {
    margin: 0;
    transform: none;
    width: 100%;
    height: auto;
  }
}
.learn-cards .card-body {
  flex: 2;
  padding: 0 0 0 1.25rem;
}
@media (max-width: 576px) {
  .learn-cards .card-body {
    padding: 0;
  }
}
/* end cards */

.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3 / 4;
  transform: translateX(50%);
}

/* move into orignal pos */
.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.from-left,
.from-right {
  transition: opacity 750ms ease-in, -webkit-transform 650ms ease-in;
  transition: opacity 750ms ease-in, transform 650ms ease-in;
  transition: opacity 750ms ease-in, transform 650ms ease-in, -webkit-transform 650ms ease-in;
  opacity: 0;
}

.fab,
.fas {
  cursor: pointer;
  margin: 10px 35px 35px 35px;
  color: white;
}

.fab:hover {
  color: black;
  transition: 250ms ease-in;
}

.fas:hover {
  color: black;
  transition: 250ms ease-in;
}

.fa-ellipsis-h {
  margin: 0;
  color: black;
}

.more-skate-teams:hover {
  filter: brightness(50%);
  color: #6ff037;
  transition: 250ms ease-in;
}
