{% extends 'base.html' %} {%block quote%} {% block nav %}
<nav class="navbar fixed-top navbar-expand-xl navbar-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-light" id="navbarNav">
    <ul class="navbar-nav align-items-start">
      <li class="nav-item">
        <h3><a class="nav-link mx-1" href="/">Go Back Home</a></h3>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

<div class="container text-center">
  <h1 class="display-1 text-light"><span style="color: #6ff037">JUST</span> ONE <span style="color: #6ff037">MORE</span> PARK</h1> </div
>{%endblock%} {% block addpark %}

<div>
  <ul>
    {% if not g.user %}
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Log in</a></li>
    {% else %}
    <li><a href="/logout">Log Out</a></li>
    {% endif %}
  </ul>
</div>

<div class="container">
  <h4 class="display-4 text-center">All Parks</h4>
  {% for parks in all_parks %}
  <p>{{parks.park_name}}</p>
  <p>{{parks.description}}</p>
  <p>{{parks.address}}</p>
  <p>{{parks.image}}</p>
  <p>{{parks.comments}}</p>
  {% endfor %}
</div>

<hr />

<div class="container">
  {% if not g.user %}

  <h4 class="display-4 text-center">Log in to add your park!</h4>
  {% else %}

  <form method="POST" id="park_post">
    {{ park.hidden_tag() }} {% for field in park if field.widget.input_type != 'hidden' %} {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %} {{ field(placeholder=field.label.text, class="form-control") }} {% endfor %}

    <button type="submit" class="btn btn-success">Add your park!</button>
  </form>
  {% endif %}
</div>

{% endblock %}
