{% extends 'base.html' %} {%block quote%} {% block nav %}
<nav class="navbar fixed-top navbar-expand-xl navbar-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-light" id="navbarNav">
    <ul class="navbar-nav align-items-start">
      <li class="nav-item">
        <h3><a class="nav-link mx-1" href="/">Go Back Home</a></h3>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

<div class="container text-center">
  <h1 class="display-1 text-light"><span style="color: #6ff037">JUST</span> ONE <span style="color: #6ff037">MORE</span> PARK</h1> </div
>{%endblock%} {% block addpark %}

<div class="container"> list park /w comments /w rating (+1 -1) </div>

<div>add park form</div>

<div>
  <ul>
    {% if not g.user %}
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Log in</a></li>
    {% else %}
    <li><a href="/logout">Log Out</a></li>
    {% endif %}
  </ul>
</div>

> {% endblock %}
