{% extends 'base.html' %} {%block quote%} {% block nav %}
<nav class="navbar fixed-top navbar-expand-xl navbar-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-light" id="navbarNav">
    <ul class="navbar-nav align-items-start">
      <li class="nav-item">
        <h3><a class="nav-link mx-1" href="/">Go Back Home</a></h3>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

<div class="container text-center">
  <h1 class="display-1 text-light"><span style="color: #6ff037">JUST</span> ONE <span style="color: #6ff037">MORE</span> PARK</h1> </div
>{%endblock%} {% block addpark %}

<div class="container">
  {% if not g.user %}
  <a class="m-2 btn btn-primary" href="/register">Register</a>
  <a class="m-2 btn btn-outline-primary" href="/login">Log in</a>
  {% else %}
  <a class="btn btn-danger m-2" href="/logout">Log Out</a>
  {% endif %}
</div>

<div class="container">
  <h4 class="display-4 text-center">All Parks</h4>
  {% for parks in all_parks %}
  <div class="parks container text-center">
    <div class="card card-accent-primary mb-3" style="max-width: 18rem">
      <div class="card-header">{{parks.park_name}}</div>
      <img height="150px" src="{{parks.image}}" />
      <div class="card-body text-primary">
        <h5 class="card-title">{{parks.address}}</h5>
        <p class="card-text">{{parks.description}}</p>
        <!-- add likes for only logged in users -->
        {% if not g.user %}
        <small>Please login to vote.</small>
        {% endif %} {{parks.likes.count()}} likes
        <!-- separate ifs -->
        {% if g.user.has_liked_post(parks) %}
        <a href="{{ url_for('like_action', park_post_id=parks.id, action='unlike') }}"><i class="far fa-thumbs-down"></i></a>
        {% else %}
        <a href="{{ url_for('like_action', park_post_id=parks.id, action='like') }}"><i class="far fa-thumbs-up"></i></a>
        {% endif %}
      </div>
      <hr />
      <p class="lead">* comments * </p>
      <p>{{parks.comments}}</p>
    </div>
  </div>
  {% endfor %}
</div>

<hr />

<div class="container">
  {% if not g.user %}

  <h4 class="display-4 text-center">Log in to add your park!</h4>
  {% else %}

  <form method="POST" id="park_post">
    {{ park.hidden_tag() }} {% for field in park if field.widget.input_type != 'hidden' %} {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %} {{ field(placeholder=field.label.text, class="form-control m-3") }} {% endfor %}

    <button type="submit" class="btn btn-success m-1">Add your park!</button>
  </form>
  {% endif %}
</div>

{% endblock %}
