<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>One Skate</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="static/style.css" rel="stylesheet" />
  </head>

  <body>
    <header class='main-header'>

      <img class='logo' src="static/images/logo.png" alt="logo"/>
      
      {% block errpage %}
      
      <!-- Navbar -->
      <nav class="navbar fixed-top navbar-expand-xl navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-light" id="navbarNav">
          <ul class="navbar-nav align-items-start">
            <li class="nav-item">
              <a class="nav-link mx-1" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-1" href="#skate-map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-1" href="#learn">Learn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-1" href="#pro-teams">Pro Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-1" href="#about">About</a>
          </ul>
        </div>
      </nav>
      <!-- Navbar End -->

      <!-- Main quote -->
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <h1 class="header-text display-1 rest-text">JUST <span style='color: white'>ONE</span> MORE TRY</h3>
          </div>
        </div>
      </div>
      <!-- Main quote end -->

    </header>

    <main>
      
    <!-- Skate Map -->
    <div id='skate-map' class="container map-and-form"></div>
      <!-- WTForms -->
      {% for msg in get_flashed_messages() %}
      <div class="alert alert-danger row-6">{{ msg }}</div>
      {% endfor %} {% block content %} {% endblock %}
      <!-- WTForms End-->
    </div>
    <!-- Skate Map End -->

    <hr>

    <!-- Learn Section -->
    <div id='learn'>
      <div class="container">
        <h4 class='display-4 text-center'>Learn How To Skate</h4>
        <p class='lead text-center'>No matter what age you are, I personally believe you can learn how to skateboard. There are many resources available online to help you! Here are some basic tricks to get you started.</p>
        
        <div class="card-group learn-cards">
          <div class="card">
            <div class="card-img-body from-left slide-in">
              <img class="card-img" src="static/images/pushing.gif" alt="pushing">
            </div>
            <div class="card-body from-right slide-in">
              <h4 class="card-title">Pushing</h4>
              <p class="card-text">• Let's start off with the foundation, pushing! Pushing allows the skatboarder to actually move. You place all of your weight on your prefered foot (right = goofy, left = regular), and push off the opposite foot. It takes practice.</p>
              <a target='_blank' href="https://brailleskateboarding.com/how-to-push-on-a-skateboard/" class="btn btn-outline-success">Lean More!</a>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body from-right slide-in">
              <img class="card-img" src="static/images/shuvit.gif" alt="shuvit"></div>
            <div class="card-body from-left slide-in">
              <h4 class="card-title">Shuv-it</h4>
              <p class="card-text">• Shuv-it's are the upmost easiest trick to learn. Anyone can learn this trick within in a day. It's usually done in grass for beginners to overcome commitment issues, but after you get the hang of it, its just a shuv-it!</p>
              <a target='_blank' href="https://en.nollieskateboarding.com/shove-it/" class="btn btn-outline-success">Learn More!</a>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body from-left slide-in">
              <img class="card-img" src="static/images/manual.gif" alt="Card image cap"></div>
            <div class="card-body from-right slide-in">
              <h4 class="card-title">Manual</h4>
              <p class="card-text">• This is a trick that I wish I spent more time on originally learning. Seeing someone hold a manual for a long time is something else. All a manual is, is balancing on the back trucks of your skateboard, whilst the front srping in the air! For more advanced 'technical' skaters, trick is flipped-into, flipped-out-of, held for a long time, just be creative with it!</p>
              <a target='_blank' href="https://riders.co/en/skate/balance/manual" class="btn btn-outline-success">Learn More!</a>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body from-right slide-in">
              <img class="card-img" src="static/images/hippiejump.gif" alt="Card image cap"></div>
            <div class="card-body from-left slide-in">
              <h4 class="card-title">Hippie Jump</h4>
              <p class="card-text">• Probably one of the most basic, straight-foward tricks, the hippie jump. Hippie jump is when you jump on-&-off your board. It's that simple! But simple doesn't mean easy. With hippie jumps, or anything in skating, all you have to do is get over the fear of not committing to a trick.</p>
              <a target='_blank' href="http://www.skatebook.me/tricks/hippy_jump.htm" class="btn btn-outline-success">Learn More!</a>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body from-left slide-in">
              <img class="card-img" src="static/images/ollie.gif" alt="Card image cap"></div>
            <div class="card-body from-right slide-in">
              <h4 class="card-title">Ollie</h4>
              <p class="card-text">• The bread-&-butter staple trick for any skater, the ollie. The ollie opens an extensive amount of tricks in skating. New skaters spend months & years perfecting this trick. Once you have a good ollie, the sky is the limit. It extends into the most known skatboarding trick, the kickflip. So, go out there & practice!</p>
              <a target='_blank' href="https://www.skatedeluxe.com/blog/en/trick-tips/skateboard/flat/how-to-ollie/" class="btn btn-outline-success">Learn More!</a>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>  
    <!-- Learn Section End -->

    <hr>

    <!-- Pro Teams Section -->
    <div id='pro-teams' class='container text-center'>
      <h4 class="display-4">Pro Teams</h4>
      <div class="row row-cols-1 row-cols-md-4">

        <div class="col mb-4">
          <div class="card">
            <a href="https://www.vans.com/team.html" target="_blank" rel="noopener noreferrer"><img src="static/images/VANS.png" class="card-img-top" alt="vans"></a>
            <div class="card-body">
              <p class="card-text">Vans</p>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <a href='https://bakerskateboards.com/pages/team' target='_blank'><img src="static/images/BAKER.png" class="card-img-top" alt="baker"></a>
            <div class="card-body">
              <p class="card-text">Baker</p>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <a href='https://www.newbalance.com/men/featured/nb-numeric/' target='_blank'><img src="static/images/NEWBALANCE.png" class="card-img-top" alt="NEWBALANCE"></a>
            <div class="card-body">
              <p class="card-text">New Balance</p>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <a href='https://en.wikipedia.org/wiki/Dirty_Ghetto_Kids' target='_blank'><img src="static/images/DGK.png" class="card-img-top" alt="dgk"></a>
            <div class="card-body">
              <p class="card-text">DGK</p>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <a href='https://www.nikesb.com/team' target='_blank'><img src="static/images/NIKE.png" class="card-img-top" alt="nike"></a>
            <div class="card-body">
              <p class="card-text">Nike</p>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <a href='https://elementbrand.com/team/' target='_blank'><img src="static/images/ELEMENT.png" class="card-img-top" alt="elememt"></a>
            <div class="card-body">
              <p class="card-text">Element</p>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <a href='http://toymachine.com/toymachine-team' target='_blank'><img src="static/images/TOYMACHINE.png" class="card-img-top" alt="toymachine"></a>
            <div class="card-body">
              <p class="card-text">Toy Machine</p>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <a href='https://www.realskateboards.com/team/' target='_blank'><img src="static/images/REAL.png" class="card-img-top" alt="real"></a>
            <div class="card-body">
              <p class="card-text">Real</p>
            </div>
          </div>
        </div>

      </div>
      <a href="https://en.wikipedia.org/wiki/List_of_skateboarding_companies" target="_blank" rel="noopener noreferrer"><p><i class="fas fa-ellipsis-h fa-3x more-skate-teams"></i></p> </a>
    </div>
    <!-- Pro Teams Section End -->

    <!-- About Section -->
    <div id='about' class="text-center">
      <div class="container">
        <h4 class='display-4'>About</h4>
        <p class='lead'><small>What's the purpose of this website?</small></p>
        <hr>
        <p>“Skateboarding is a big passion & hobby of mine. Just because skateboarding is a fun activity/sport, doesn't mean it hasn't taught me important life lessons. It has taught me that repetition & hard work is key, 
          does in fact, pay off. When you're grinding for hours, weeks, months, even years for a trick & finally land it, its a feeling like no other. I plan to transfer this lesson throughout any goal/ activity I do in my life.” <br><i>- Samuel Reid</i></p>
          <hr>
        <h5 class='display-5'>Get In Touch</h5>
        <a target='_blank' href="https://www.linkedin.com/in/sreid20/"><i class="fab fa-linkedin fa-2x"></i></a>
        <a target='_blank' href="https://github.com/exgin "><i class="fab fa-github-square fa-2x"></i></a>
        <a href="mailto:exgin3538@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
      </div>
    </div>
    <!-- About Section End -->
    {% endblock %}
  </main>

    <!-- Scripts -->
    <script src="static/cityState.js"></script>
    <script src="static/scrolling.js"></script>
    <script src="https://kit.fontawesome.com/69b3d916a9.js" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="static/addRemove.js"></script>
  </body>
</html>
