{% extends 'base.html' %} {% block content %}

<form class="text-center" method="POST">
  <h4 class="display-4">Find Parks Near you!</h3>
  <p class="lead">US | Doesn't include DIYs | Up to 7</p>

  <div class="d-inline-block form-group text-center">
    {% if form.errors %} {{ form.errors }} {% endif %} {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden' %}
      {{ field.label }} {{ field(class_='form-control') }} {% for error in field.errors %} {{ error }} {% endfor %}
    {% endfor %}
    <button class="form-btn btn btn-md btn-success" type="submit">Search!</button>
  </div>

  <div class="park-div">
    <iframe class="map-style" allowfullscreen src="{{ url_for('map') }}"></iframe>
  </div>
</form>

{% endblock %}
