<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_75b3bdcfc8424360974422673d8e5af5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_75b3bdcfc8424360974422673d8e5af5" ></div>
        
</body>
<script>    
    
            var map_75b3bdcfc8424360974422673d8e5af5 = L.map(
                "map_75b3bdcfc8424360974422673d8e5af5",
                {
                    center: [37.31648115417059, -121.88507080078125],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_63fac359be2d435ebbcd9b612034158c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_75b3bdcfc8424360974422673d8e5af5);
        
    
            var marker_76d72853f06a4a0cad223e1526719132 = L.marker(
                [37.31648115417059, -121.88507080078125],
                {}
            ).addTo(map_75b3bdcfc8424360974422673d8e5af5);
        
    
        var popup_b3f794af20f443eb80c47b5552da6c19 = L.popup({"maxWidth": "100%"});

        
            var html_a4628e4d34b5476f863523165c82a4eb = $(`<div id="html_a4628e4d34b5476f863523165c82a4eb" style="width: 100.0%; height: 100.0%;"><strong>Location Center</strong></div>`)[0];
            popup_b3f794af20f443eb80c47b5552da6c19.setContent(html_a4628e4d34b5476f863523165c82a4eb);
        

        marker_76d72853f06a4a0cad223e1526719132.bindPopup(popup_b3f794af20f443eb80c47b5552da6c19)
        ;

        
    
    
            marker_76d72853f06a4a0cad223e1526719132.bindTooltip(
                `<div>
                     Click here!
                 </div>`,
                {"sticky": true}
            );
        
</script>