{% extends 'base.html' %} {% block errpage %}
<div class="container">
  {% for msg in get_flashed_messages() %}
  <div class="alert alert-danger row-6">{{ msg }}</div>
  {% endfor %} {% block content %} {% endblock %}

  <form method="POST" id="user_register">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden' %} {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %} {{ field(placeholder=field.label.text, class="form-control m-3") }} {% endfor %}

    <button type="submit" class="btn btn-success">Sign up!</button>
    <a href="/addpark" class="btn btn-primary">Cancel</a>
    <small class="text-white">Already have an account? <a class="text-white" href="/login">Log in!</a></small>
  </form>
</div>

{% endblock %}
